.Project {
  align-items: center;
  width: 100%;
  padding: 0.5rem 3.5rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding-top: 3rem;
  
}
.Projectdiv{
  width:90%;
  /* border: 1px solid red; */

  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  height:450px;
  padding: 10px;
  border-radius: 20px;

  /* background-color:var(--black);  */
display: flex;
box-shadow: rgba(1, 0, 0, 0.24) 0px 3px 8px;
justify-content: space-between;
}
.Projectdiv:hover{
  /* transform: scale(1.01);
  transition: 1s; */
  
}

.imgdiv{
  width: 55%;
  margin: auto;
  height: 85%;
 
  border-radius: 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /* border: 1px solid rgb(225, 193, 193); */
  background-color: beige;

}
.projectimg{
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 20px;

  /* border: 1px solid rgb(132, 0, 255); */
}
.projectimg:hover{
  transform: scale(1.01);
  transition: 1s;
}
.descriptiondiv{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: black;
  /* padding: 10px 0px 10px 0px; */
  /* border: 1px solid rgb(225, 193, 193); */
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}
.textdata{
  text-align: start;
  width: 90%;
  margin: auto;
  /* border: 1px solid rgb(68, 255, 0); */
}
.textdata>:nth-child(1){
text-align: center;

}
.project_title{
  color: #52c5ff;
}

.project_title>span{
  font-size: 14px;
}
.textdata>:nth-child(2){
  font-size: 16px;

}
.textdata>:nth-child(3){
  font-size: 16px;
}
.highlight{
  color: brown;
  font-size: 18px;
  } 

.btns{
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  /* border: 1px solid rgb(255, 200, 0); */
}

.button{
  width: 100%;
}
.imgtext_stackdiv{
  width: 60%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}
.imgtext_stackdiv>div{
  border: 1px solid red;
  background-color: black;

}
.imgtext_stackdiv>div>img{
  width: 60px;
}



@media (min-width: 320px) and (max-width: 480px) {
  .Project {
    align-items: center;
    height: 100vh;
    margin-bottom: 200px;
  }
  .gridDiv{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,65vh);
  
  }

  .textdata{
    height: 40%;
    width: 90%;
    margin: auto;
  font-size: 10px;
  margin-top: 100px;
  text-overflow: inherit;
  }
  .textdata>*{
    font-size: 12px;
  }
  .textdata>p{
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .highlight{
    color: brown;
    font-size: 14px;
    }
    .btns{
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin: auto;
      margin-top: -20px;
    }
    .btns>button{
      border-radius: 10px;
      font-size: 14px;
    }
    .textdata>:nth-child(1){
      font-size: 17px;
      margin-top: 1px;
      margin-bottom: 1px;
    }
}
@media (min-width: 481px) and (max-width: 767px) {



  .Project {
    align-items: center;

    margin-bottom: 200px;
  }
  .gridDiv{
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,80vh);
    gap: 10px;
    width: 100%;
  }
.projetbox{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0px 10px 0px;
  border-radius: 30px;
  /* z-index: -1; */
}

  .sliderbox{
    border-radius: 50px;
    height: 100px;
    width: 90%;
    margin: auto;
    background-color: white;
    }
  .textdata{
    height: 40%;
    width: 90%;
    margin: auto;
  font-size: 10px;
  margin-top: 10px;
  text-overflow: inherit;
  }
  .textdata>*{
    font-size: 12px;
  }
  .textdata>p{
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .highlight{
    color: brown;
    font-size: 14px;
    }
    .btns{
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin: auto;
      margin-top: -20px;
    }
    .btns>button{
      border-radius: 10px;
      font-size: 14px;
    }
    .textdata>:nth-child(1){
      font-size: 17px;
      margin-top: 1px;
      margin-bottom: 1px;
    }


}