/* .backgraund{
    background-image: url("https://images.unsplash.com/photo-1520916784675-1b97f1fc1c05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fHBvcnRmb2xpb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
} */

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
.herofont{
    font-family: 'Tangerine', cursive;

}

.nametitle{
    /* font-family: 'Amita', cursive; */
    font-family: 'Bungee Inline', cursive;

}