@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

#root {
  /* max-width: 100%; */
  margin: 0 auto;
  padding: 0rem;


  
  text-align: center;
}
.card {
  padding: 0em;
}

.read-the-docs {
  color: #888;
}

.loader {
  position: absolute;
  top: 40%;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #090909;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 