:root
{
  --yellow: #c98174;
    --orange : #f26262;
    --black : #2f354a;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --blue: rgb(0, 21, 247);
}

.App{
  
    overflow: hidden;
    color: var(--black);    
}

.button {
    background: linear-gradient(180deg, #58c3f9 26.71%, #3bb0eb 99.36%);
    box-shadow: 0px 5px 5px 3px rgba(213, 208, 202, 0.42);
    border-radius: 34px;
    border: none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
  .button:hover {
    background: white;
    cursor: pointer;
    border: 1px solid var(--orange);
    color: var(--orange);
  }
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }

  

  